#main::after {
    content: "";    
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    height: 44vh;
    width: 20%;
    background-image: linear-gradient(#410407,rgb(189, 140, 159));
    clip-path: polygon(0 0, 100% 0, 100% 83%, 22% 100%);
    overflow-y: hidden;
    -ms-overflow-style: none;scrollbar-width: none;
    
    @media (max-width: 1600px) {
        width: 30%;
    }
    
    @media (max-width: 1400px) {
        height: 38vh;
        width: 40%;
        clip-path: polygon(0, 0, 100% 0, 100% 83%, 22% 100%);
    }
    
    @media (max-width: 1100px) {
        position: absolute;
        height: 10vh;
        width: 0%;
        top: auto;
        bottom: 0;
        clip-path: polygon(0 39%, 100% 0, 100% 100%, 0 100%);
    }
}
