:root {
  --form-section-gradient-1: #6782B4;
  --form-section-gradient-2: #B1BFD8;
  --font-fam: 'Quicksand', sans-serif;
  --font-color: black;
  --box-shadow-color: #254e58;
}

*{
    box-sizing: border-box;
  } 
  main{
    width: 65%;
    min-width: 250px;
    text-align: center;
    margin: auto;
    font-family: var(--font-fam);
  }
  
  form{
    width: 100%;
    height: auto;
  }
  #particles-js{
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .form-section{
    padding: 15px 7.5px 15px 7.5px;
    background-image: linear-gradient(var(--form-section-gradient-1),var(--form-section-gradient-2));
    opacity: 0.7;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  h2{
    text-align: center;
    margin: auto;
    width: 80%;
    /* border-bottom: 2px dotted black; */
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--font-color);
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--font-color);
    
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--font-color);
    
  }
  .form-item{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: auto;
    margin: 40px;
  }
  
  .form-item:first-child{
    margin-top: 0px;
  }
  
  .label{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: Left;
    padding-right: 5px;
    font-size: 20px;

  }
  
  #name-label, #email-label, #number-label{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .entry{
    flex: 1;
    text-align: left;
    padding-left: 5px;
  }
  
  input[type=text], input[type=email],input[type=number], #dropdown, #joining-date{
    background-color: rgb(62, 122, 165);
    border: 2px solid rgba(49, 31, 31, 0.3);
    /* border-top: 2px solid black; */
    height: 40px;
    width: 220px;
    color:var(--font-color);
    font-weight: 900;
    border-radius: 0;
    padding-left: 10px;


  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
  #cv-number {
    height: 40px;
    border: 2px solid rgba(163, 30, 30, 0.3);
    background-color: rgb(62, 122, 165);
    width: 222px;
    border-radius: 0;
    font-size: 15px;

  }
#dropdown {
  color: var(--font-color);
}



  input {
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:5px 5px black;
    -moz-box-shadow: 5px 5px black;
    box-shadow:5px 5px var(--box-shadow-color);
    height:25px;
    line-height:25px;
    width:200px;
    text-indent:5px;
 }

 input:focus{
  box-shadow: none;
  transition: box-shadow 0.4s;

 }
  

  .entry label{
    display: block;
    margin-top: 2px;
  }
  
  #submit{
    width: 100px;
    height: 40px;
    font-size: 18px;
    background: #ffe6e6;
    color: var(--font-color);
    border: 2px solid black;
    box-shadow:5px 5px var(--box-shadow-color);

  }
  
  option{
    font-family: var(--font-fam);
    
  }
  #submit:hover{
    background: #254e58;
    color: white;
    box-shadow: 0 10px 20px var(--box-shadow-color), 0 10px 10px var(--box-shadow-color);
    cursor: pointer;
    border: none;
    transition: all 0.4s;
  }
  
  footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 1080px){
    main{
      width: 80%;
    }
  }
  
  @media (max-width: 768px){
    main{
      width: 100%;
      font-size: 14px;
    }
    .form-section{
      box-shadow: none;
    }
    .label{
      flex: 1;
    }
    
    .entry{
      flex: 2;
    }
    
  }
  
  @media (max-width: 480px){
    .form-item{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      box-shadow: 0 0;
      margin-left: 0;
    }
    
    .label{
      
    }
    
    .entry{
      width: 100%;
      padding: 0;
      margin-top: 5px;
    }
    
    input[type=text], input[type=email], 
    input[type=number], #dropdown, textarea, #joining-date{
      width: 90%;
    }
    
  }








