*{
    box-sizing: border-box;
  }
  
  
  main{
    width: 65%;
    min-width: 250px;
    text-align: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
  }
  
  form{
    width: 100%;
    height: auto;
  }
  
  .form-section{
    padding: 30px 15px 30px 15px;
    background-color: #88bdbc ;
    /* background: linear-gradient( #da4453 , #89216B); */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 10px rgba(0,0,0,0.23); */
    /* box-shadow: -10px -10px black; */
    margin-bottom: 30px;
    /* transition: box-shadow .4s; */
    border-radius: 4px;
  }

  h2{
    text-align: center;
    margin: auto;
    width: 80%;
    /* border-bottom: 2px dotted black; */
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    
  }
  .form-item{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: auto;
    margin: 40px;
  }
  
  .form-item:first-child{
    margin-top: 0px;
  }
  
  .label{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: Left;
    padding-right: 5px;
  }
  
  #name-label, #email-label, #number-label{
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .entry{
    flex: 1;
    text-align: left;
    padding-left: 5px;
  }
  
  input[type=text], input[type=email],input[type=number], #dropdown, #joining-date{
    background-color: rgb(62, 122, 165);
    border: 2px solid rgba(49, 31, 31, 0.3);
    /* border-top: 2px solid black; */
    height: 40px;
    width: 220px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    border-radius: 0;
    padding-left: 10px;


  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  #employee-number {
    height: 40px;
    border: 2px solid rgba(163, 30, 30, 0.3);
    background-color: rgb(62, 122, 165);
    width: 222px;
    border-radius: 0;
  }
#dropdown {
  color: black;
}
  /* input[type=text]:focus, input[type=email]:focus, 
  input[type=number]:focus, #dropdown:focus, textarea:focus, #joining-date:focus{
    outline-width: 0;
    /* border-radius: 20px; */
    /* background-color: black; */
    /* color: black;
    transition: all 0.2s;
    box-shadow: 0; */
    /* border: 2px solid rgb(49, 245, 0); */

  /* } */ */
  input[type=text]:hover, input[type=email]:hover, 
  input[type=number]:hover, #dropdown:hover, textarea:hover, #joining-date:hover{
    transform: scale(1.1);
    transition: all .2s;
  }

  input {
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:5px 5px black;
    -moz-box-shadow: 5px 5px black;
    box-shadow:5px 5px #254e58;
    height:25px;
    line-height:25px;
    width:200px;
    text-indent:5px;
 }

 input:focus{
  box-shadow: none;
  transition: box-shadow 0.4s;

 }
  
  /* input[type=text], input[type=email], 
  input[type=number], #dropdown, textarea, #joining-date:required {
    /* box-shadow:none; */
  /* } */ */
  .entry label{
    display: block;
    margin-top: 2px;
  }
  
  #submit{
    width: 100px;
    height: 40px;
    font-size: 18px;
    background: #ffe6e6;
    color: black;
    border: 2px solid black;
    box-shadow:5px 5px #254e58;

  }
  option{
    font-family: 'Quicksand', sans-serif;
    
  }
  #submit:hover{
    background: #254e58;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.23);
    cursor: pointer;
    border: none;
    transition: all 0.4s;
  }
  
  footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 1080px){
    main{
      width: 80%;
    }
  }
  
  @media (max-width: 768px){
    main{
      width: 100%;
      font-size: 14px;
    }
    .form-section{
      box-shadow: none;
    }
    .label{
      flex: 1;
    }
    
    .entry{
      flex: 2;
    }
    
  }
  
  @media (max-width: 480px){
    .form-item{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      box-shadow: 0 0;
      margin-left: 0;
    }
    
    .label{
      
    }
    
    .entry{
      width: 100%;
      padding: 0;
      margin-top: 5px;
    }
    
    input[type=text], input[type=email], 
    input[type=number], #dropdown, textarea, #joining-date{
      width: 90%;
    }
    
  }








